---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard";
import ArrowCard2 from "@components/ArrowCard";
import { SITE, SOCIALS } from "@consts";
import TwinklingStars from "@components/TwinklingStars.astro";
import MeteorShower from "@components/MeteorShower.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 1);

const stack = [
  {
    text: "Vuejs",
    icon: "../../public/vuejs.svg",
    href: "https://astro.build",
  },
  {
    text: "Node.js",
    icon: "javascript",
    href: "https://www.javascript.commm",
  },
  {
    text: "Typescript",
    icon: "typescript",
    href: "https://www.typescriptlang.org",
  },
];
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-screen w-full">
    <div
      id="planetcont"
      class="animate absolute inset-0 top-1/4 overflow-hidden"
    >
      <div
        id="crescent"
        class="absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%"
      >
        <div
          id="planet"
          class="w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center"
        >
          <div
            id="blur"
            class="w-full h-20 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl"
          >
          </div>
        </div>
      </div>
    </div>
    <div
      class="animate absolute h-full w-full flex items-center justify-center"
    >
      <div class="relative w-full h-full flex items-center justify-center">
        <div class="p-5 text-center">
          <p
            class="animated text-lg md:text-xl lg:text-2xl font-semibold opacity-75"
          >
            Nicolas
          </p>
          <p
            class="animated text-2xl md:text-3xl lg:text-4xl font-bold uppercase text-black dark:text-white"
          >
            Développeur web
          </p>
          <p class="animated text-sm md:text-base lg:text-lg opacity-75">
            <!-- Je crée des sites vitrines et des blogs pour entreprises et
            particuliers. -->
            Je crée des <b><i>sites vitrines</i></b>, <b><i>portfolio</i></b> et
            <b><i>e-commerces</i></b> pour
            <b><i>entreprises</i></b> et <b><i>particuliers</i></b>.
          </p>
          <div
            id="ctaButtons"
            class="animated flex flex-wrap gap-4 justify-center mt-5"
          >
            <a
              href="#projects"
              class="py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:opacity-75 blend"
            >
              Voir mes projets
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <!-- About Section -->
      <section class="animate">
        <article>
          <p>
            Je crée des <b><i>sites vitrines</i></b>, <b><i>portfolio</i></b> et
            <b><i>e-commerces</i></b> pour
            <b><i>entreprises</i></b> et <b><i>particuliers</i></b>.
          </p>
          <p>
            J'ai reçu mon diplôme de <b><i>développeur web et web mobile</i></b>
            en 2024 et exerce une activité de <b><i>freelance</i></b> depuis.
          </p>
          <p>
            Je suis un <b><i>développeur fullstack</i></b>, je fais autant du <b
              ><i>front-end</i></b
            >, que du <b><i>back-end</i></b>.
          </p>
          <p>Je crée aussi des <b><i>projets personnels</i></b> sur le côté.</p>
          <p>Mon email : <b>nicolasbilic.dev@nicolasbilic.com</b></p>
        </article>
      </section><b><i></i></b>

      <!-- Tech Stack Section -->
      <section class="animate">
        <div class="space-y-4">
          <p class="font-semibold text-black dark:text-white">
            Sites webs construits avec
          </p>
          <div class="flex flex-wrap items-center gap-2 mt-5">
            <svg
              style="height: 32px; width: auto;"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
              ><title>file_type_vue</title><path
                d="M24.4,3.925H30L16,28.075,2,3.925H12.71L16,9.525l3.22-5.6Z"
                style="fill:#41b883"></path><path
                d="M2,3.925l14,24.15L30,3.925H24.4L16,18.415,7.53,3.925Z"
                style="fill:#41b883"></path><path
                d="M7.53,3.925,16,18.485l8.4-14.56H19.22L16,9.525l-3.29-5.6Z"
                style="fill:#35495e"></path></svg
            >
            <p style="padding-right: 1.5em">Vue.js</p>
            <svg
              style="height: 32px; width: auto;"
              version="1.1"
              id="Layer_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px"
              y="0px"
              viewBox="0 0 109 122.88"
              style="enable-background:new 0 0 109 122.88"
              xml:space="preserve"
              ><style type="text/css">
                .st0 {
                  fill-rule: evenodd;
                  clip-rule: evenodd;
                  fill: #689f63;
                }
              </style><g
                ><path
                  class="st0"
                  d="M68.43,87.08c-19.7,0-23.83-9.04-23.83-16.63c0-0.72,0.58-1.3,1.3-1.3h5.82c0.64,0,1.18,0.47,1.28,1.1 c0.88,5.93,3.49,8.92,15.41,8.92c9.49,0,13.52-2.14,13.52-7.18c0-2.9-1.15-5.05-15.89-6.49c-12.33-1.22-19.95-3.93-19.95-13.8 c0-9.08,7.66-14.49,20.5-14.49c14.42,0,21.56,5,22.46,15.76c0.03,0.37-0.1,0.73-0.35,1c-0.25,0.26-0.6,0.42-0.96,0.42H81.9 c-0.61,0-1.14-0.43-1.26-1.01c-1.41-6.23-4.81-8.23-14.07-8.23c-10.36,0-11.56,3.61-11.56,6.31c0,3.28,1.42,4.24,15.4,6.09 c13.84,1.84,20.41,4.43,20.41,14.16c0,9.81-8.18,15.43-22.45,15.43L68.43,87.08L68.43,87.08z M54.52,122.88 c-1.65,0-3.28-0.43-4.72-1.26l-15.03-8.9c-2.25-1.26-1.15-1.7-0.41-1.96c2.99-1.05,3.6-1.28,6.8-3.1c0.34-0.19,0.78-0.12,1.12,0.08 l11.55,6.85c0.42,0.23,1.01,0.23,1.4,0l45.03-25.99c0.42-0.24,0.69-0.72,0.69-1.22V35.43c0-0.52-0.27-0.98-0.7-1.24L55.23,8.22 c-0.42-0.25-0.97-0.25-1.39,0l-45,25.97c-0.44,0.25-0.71,0.73-0.71,1.23v51.96c0,0.5,0.27,0.97,0.7,1.21l12.33,7.12 c6.69,3.35,10.79-0.6,10.79-4.56V39.86c0-0.73,0.57-1.3,1.31-1.3l5.7,0c0.71,0,1.3,0.56,1.3,1.3v51.31 c0,8.93-4.87,14.05-13.33,14.05c-2.6,0-4.66,0-10.38-2.82L4.72,95.59C1.8,93.9,0,90.75,0,87.38V35.42c0-3.38,1.8-6.54,4.72-8.21 l45.07-26c2.85-1.61,6.64-1.61,9.47,0l45.02,26.01c2.91,1.68,4.72,4.82,4.72,8.21v51.96c0,3.37-1.81,6.51-4.72,8.21l-45.02,26 c-1.44,0.83-3.08,1.26-4.74,1.26L54.52,122.88L54.52,122.88z M54.52,122.88L54.52,122.88L54.52,122.88L54.52,122.88z"
                ></path></g
              ></svg
            >
            <p style="padding-right: 1.5em;">Node.js</p>
            <br /><br /><br />
            <div class="flex flex-wrap items-center gap-2">
              <svg
                style="height: 32px; width: auto;"
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 122.88 122.88"
                style="enable-background:new 0 0 122.88 122.88"
                xml:space="preserve"
                ><style type="text/css">
                  .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #007acc;
                  }
                  .st1 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: #ffffff;
                  }
                </style><g
                  ><path
                    class="st0"
                    d="M0,61.44V0h122.88v122.88H0V61.44L0,61.44z M0,61.44L0,61.44L0,61.44L0,61.44z"
                  ></path><path
                    class="st1"
                    d="M26.94,61.65v5.01h15.97v45.47h11.34V66.66h15.97v-4.92c0-2.76,0-5.01-0.12-5.07c0-0.09-9.74-0.12-21.57-0.12 l-21.5,0.09v5.04L26.94,61.65L26.94,61.65L26.94,61.65z M98.73,56.52c3.13,0.74,5.53,2.15,7.68,4.39c1.14,1.23,2.83,3.38,2.95,3.93 c0,0.18-5.31,3.78-8.54,5.78c-0.12,0.09-0.61-0.43-1.11-1.23c-1.6-2.27-3.23-3.26-5.78-3.44c-3.69-0.25-6.14,1.69-6.14,4.91 c0,0.98,0.18,1.54,0.55,2.33c0.83,1.69,2.37,2.7,7.13,4.79c8.79,3.78,12.6,6.27,14.9,9.83c2.61,3.99,3.19,10.26,1.44,14.96 c-1.97,5.13-6.76,8.6-13.61,9.74c-2.15,0.37-7.07,0.31-9.37-0.09c-4.91-0.92-9.62-3.38-12.5-6.54c-1.14-1.23-3.32-4.52-3.19-4.73 l1.17-0.74l4.61-2.67l3.47-2.03l0.8,1.08c1.01,1.6,3.29,3.75,4.61,4.49c3.99,2.06,9.34,1.78,11.98-0.61 c1.14-1.04,1.63-2.15,1.63-3.69c0-1.41-0.22-2.06-0.92-3.13c-0.98-1.35-2.95-2.46-8.48-4.91c-6.36-2.7-9.06-4.42-11.58-7.07 c-1.44-1.6-2.76-4.09-3.38-6.14c-0.46-1.78-0.61-6.14-0.18-7.9c1.32-6.14,5.96-10.44,12.6-11.67c2.15-0.43,7.22-0.25,9.34,0.31 L98.73,56.52L98.73,56.52L98.73,56.52z"
                  ></path></g
                ></svg
              >
              <p>Typescript</p>
            </div>
          </div>
        </div>
      </section>

      <!-- Created Sites Preview Section -->
      <section class="animate" id="projects">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white uppercase">
              Sites créés
            </p>
          </div>
          <ul class="space-y-4">
            {
              projects.map((project) => (
                <li>
                  <a
                    href="https://www.escaleflayoscaise.com"
                    target="_blank"
                    class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
                  >
                    <div class="w-full group-hover:text-black group-hover:dark:text-white blend">
                      <div class="flex flex-wrap items-center gap-2" />
                      <div class="font-semibold mt-3 text-black dark:text-white mb-5">
                        L'Escale Flayoscaise | Location de vacances | Site
                        Vitrine
                      </div>
                      <img
                        class="rounded"
                        src="/site-lescale-flayoscaise.webp"
                        alt="L'escale Flayoscaise, site vitrine de location de vacances"
                      />
                      <br />
                      <p>
                        EscaleFlayoscaise.com est un site de location réalisé
                        par Nicolas Bilic EI pour L'Escale Flayoscaise, un
                        logement de vacances situé dans le Var. Les utilisateurs
                        et vacanciers peuvent consulter les atouts du studio,
                        les tarifs, les modalités de location, des photos du
                        logement et ont la possibilité de joindre le
                        propriétaire pour connaître les disponibilités et faire
                        une réservation.
                      </p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- Personal Project Preview Section -->
      <section class="animate" id="projects">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white uppercase">
              Projets personnels
            </p>
          </div>
          <ul class="space-y-4">
            {
              projects.map((project) => (
                <li>
                  <a
                    href="https://alpes-eta.vercel.app/"
                    target="_blank"
                    class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
                  >
                    <div class="w-full group-hover:text-black group-hover:dark:text-white blend">
                      <div class="flex flex-wrap items-center gap-2" />
                      <div class="font-semibold mt-3 text-black dark:text-white mb-5">
                        ALPES | Entreprise d'Alpinisme | Site Vitrine
                      </div>
                      <img
                        class="rounded"
                        src="/alpes-app.jpg"
                        alt="ALPES, Site vitrine : Entreprise d'Alpinisme"
                      />
                      <br />
                      <p>
                        ALPES est un site dédié à une entreprise d'Alpinisme
                        avec un système de réservation, une newsletter, un
                        formulaire de contact, les utilisateurs peuvent
                        consulter les activités à faire, les tarifs des forfaits
                        et les résidences. Ceci est un projet personnel.
                      </p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
          <br />
          <ul class="space-y-4">
            {
              projects.map((project) => (
                <li>
                  <a
                    href="https://front-gaming-app.vercel.app/"
                    target="_blank"
                    class="group p-4 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-colors duration-300 ease-in-out"
                  >
                    <div class="w-full group-hover:text-black group-hover:dark:text-white blend">
                      <div class="flex flex-wrap items-center gap-2" />
                      <div class="font-semibold mt-3 text-black dark:text-white mb-5">
                        Ludus Studios | Entreprise de Jeux-Vidéos | Site Vitrine
                      </div>
                      <img
                        class="rounded"
                        src="/ludus-studios-project.webp"
                        alt="Ludus Studios, site vitrine projet pour une entreprise de jeux-vidéos"
                      />
                      <br />
                      <p>
                        Ludus Studios est un site dédié à une entreprise de
                        Jeux-Vidéos avec plusieurs jeux-vidéos réparties en
                        catégories. Ceci est un projet personnel.
                      </p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </section>

      <!-- <section class="animate" id="projects">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white uppercase">
              Projets personnels
            </p>
          </div>
          <ul class="space-y-4">
            {
              projects.map((project) => (
                <li>
                  <ArrowCard entry={project} />
                </li>
              ))
            }
          </ul>
        </div>
      </section> -->
    </div>
  </div>
</PageLayout>
